<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.files.Dao.TxTestMapper">
    <!--mapper接口所在包-->

    <insert id="save" parameterType="java.lang.Integer">
        insert into
          tx_test(
            test_id
          ) values (
            #{txId}
          )
    </insert>
</mapper>